body {
    background-color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}

#documentTable_wrapper {
    margin: 15px;
}

#header {
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    display: block;
    padding: 20px;
    border-radius: 25px;
}

td {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    color: #bfbfbf;
    background-color: #555555;
}

.left-align {
    text-align: left;
    width: 100%;
}

th {
    background-color: #33485D;
    color: #ffffff;
}

label {
    color: #ffffff;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

input {
    background-color: #e8e8e8;
    color: #666666;
    width: 100%;
}

input[type=search] {
    margin: 20px;
}

select {
    background-color: #e8e8e8;
    color: #666666;
}

table.dataTable.display tbody tr.odd>.sorting_1 {
    background-color: #949494;
}


/* CSS */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 20px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
  cursor: pointer;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}
