body {
    background-color: #262523;
    font-family: Arial, Helvetica, sans-serif;
}

#documentTable_wrapper {
    margin: 15px;
}

#header {
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    display: block;
    padding: 20px;
    border-radius: 25px;
}

td {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    color: #bfbfbf;
    background-color: #555555;
}

.left-align {
    text-align: left;
    width: 100%;
}

th {
    background-color: #33485D;
    color: #ffffff;
}

label {
    color: #ffffff;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

input {
    background-color: #e8e8e8;
    color: #666666;
    width: 100%;
}

input[type=search] {
    margin: 20px;
}

select {
    background-color: #e8e8e8;
    color: #666666;
}

table.dataTable.display tbody tr.odd>.sorting_1 {
    background-color: #949494;
}


<!-- HTML !-->
<button class="button-59" role="button">Button 59</button>

/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
