body {
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

.x {
    top: 0px;
    right: 0px;
    position: absolute;
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    visibility: hidden;
}

.x:hover {
    visibility: visible;
}

.resizable {
  width: 100px;
  height: 100px;
  position: absolute;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid #4286f4;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  margin: 5px;
  z-index: 1;
  background: #303030;
  color: #A0A0A0;
}
.item:hover {
    cursor: pointer;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.inactive {
  border: 0px solid #4286f4 !important;
}

.hidden {
  visibility: hidden;
}

.dropdown_button {
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown_button:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown_button:hover .btn  {
  background-color: #0b7dda;
}


#blur_backdrop {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

#add_new_widget_container {
      background-color: transparent;y
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
}

#add_new_widget_panel {
    z-index: 2;
    padding: 5px;
    color: #fff;
    background-color: #000;
    height:400px;
    width:800px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-200px;
    display:block;
}

#documentTable_wrapper {
    margin: 15px;
}

#header {
    background-color: #303030;
    color: #DCDCDC;
    font-size: 5vw;
    display: block;
    padding: 10px;
    border-radius: 0px;
    margin: 20px;
}
#header_input {
    background-color: transparent;
    color: #DCDCDC;
    font-size: 40px;
    float: left;
    padding: 0px;
    border-radius: 0px;
    border: 0;
    width: 70%;
    
}

#action_bar {
    background-color: transparent;
    border: 0;
    color: #dcdcdc;
    overflow: hidden;
    text-align: right;
    padding: 10px 0;
    margin: 0px;
    font-size:0px;
}

.top_bar {
    display: block;
    text-align: right;
}

.action_button {
    display: inline-block;
    background-color: transparent;
    color: #DCDCDC;
    border: 0px solid #4286f4;
    margin: 5px;
    padding: 1px;
    font-size: 25px;
    cursor: pointer;
}

.panel_header {
    font-size: 30px;
    color: #dcdcdc;
    font-weight: bold;
}

.panel_section {
    font-size: 20px;
    color: #dcdcdc;
}

.panel_section input {
    display: inline-block;
}

/* Darker background on mouse-over */
.action_button:hover {
  color: #4286f4;
}

.grid {
    margin: 20px;
}

.select-edit-active {
    filter: grayscale(0.8);
}

.select-edit-active:hover {
    filter: grayscale(0);
}
